@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {    
    --primary-color: #2c3855;
    --primary-color-dark: #435681;
    --text-dark: #333333;
    --text-light: #767268;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1200px;
}
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
}



nav{
    position: fixed;
    width: 100%;
    margin: auto;
    padding: 1.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99999999;
    background-color: var(--extra-light);
}

.navlogo{
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
    margin-left: 7rem;
}

.navlogo span{
    color: var(--primary-color-dark);
    font-size: 55;
}

.navlink{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-right: 6rem;
}

.link a{
    font-weight: 500;
    color: var(--text-light);
    transition: 0.3s;
}

.link a:hover {
    color: var(--primary-color);
}

section{
    padding: 2rem 9% 2rem;
}

.tempat{
    padding: 5rem 9% 2rem;
}

.judul h1{
    margin-top: 125px;
    padding: 2rem;
}

.jrk{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}
.jrk p {
    text-align: justify;
    font-size: 16px;
    color: var(--text-dark);
    flex: 1;
    margin-left: 2rem;

}

.jrk img {
    width: 550px;
    height: 350px;
    margin-left: 15rem;
    border-radius: 5px;
}

.video{
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.video iframe{
    margin-left: 3rem;
    margin-right: 3rem;
    width: 700px;
}

.footer{
    margin-top: 4rem;
    background-color: var(--extra-light);
}

.footercont{
    display: grid;
    grid-template-columns: 2fr repeat(3,1fr);
    gap: 5rem;
}

.footercol h3{
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    margin-left: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
}

.footercol h4{
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    margin-left: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.footercol.desc{
    margin-bottom: 1rem;
    margin-left: 5rem;
    color: var(--text-light);
    cursor: pointer;
    transition: 0.3s;
}

.footercol p{
    margin-bottom: 1rem;
    margin-left: 2rem;
    color: var(--text-light);
    cursor: pointer;
    transition: 0.3s;
}

.footercol p:hover{
    color: var(--text-dark);
}

.footerbar{
    position: relative;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--text-light);
    text-align: right;
    overflow: hidden;
}

.footerbar::before{
    position: absolute;
    content: '';
    top: 50%;
    right: 28rem;
    transform: translateY(-50%);
    width: 20rem;
    background-color: var(--text-light);
}